/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* import tailwind css */
@import "tailwindcss";

@theme {
  --color-primary: #f2c94c;
  --color-primary-dark: #0b0706;
  --color-primary-light: #fcedc6;
  --color-primary-soft: #eff7f2;
  --color-secondary: #1d2130;
  --color-secondary-gray: #525560;
  --color-soft-blue: #ebf0f9;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  body {
    @apply bg-white scroll-smooth font-roboto;
  }

  h1,
  .h1 {
    @apply font-roboto font-bold text-4xl leading-12 lg:text-[3.5rem] lg:leading-[4.2rem] text-secondary;
  }

  h2,
  .h2 {
    @apply font-roboto font-bold text-3xl leading-9 lg:text-[3rem] lg:leading-[3.6rem] text-secondary;
  }

  h3,
  .h3 {
    @apply font-roboto font-bold text-2xl leading-8 lg:text-[1.75rem] lg:leading-10.5 text-secondary;
  }

  h4,
  .h4 {
    @apply font-roboto font-bold text-xl leading-7 lg:text-[1.25rem] lg:leading-7.5 text-secondary;
  }

  h5,
  .h5 {
    @apply font-roboto font-bold text-lg leading-6 lg:text-[0.875rem] lg:leading-[1.313rem] text-secondary;
  }

  h6,
  .h6 {
    @apply font-roboto font-bold text-[0.75rem] leading-4.5 text-secondary;
  }

  button {
    @apply cursor-pointer;
  }
  label {
    @apply font-roboto font-bold text-xs leading-[1.2rem] text-secondary/60;
  }
  input {
    @apply font-roboto pb-1 border-b border-black text-base font-normal leading-[1.6rem]  focus:outline-0;
  }
  textarea {
    @apply p-5 border border-black rounded font-roboto text-base font-normal leading-[1.6rem] text-secondary h-[9.75rem] resize-none placeholder:font-roboto placeholder:font-normal placeholder:text-base placeholder:leading-[1.6rem] placeholder:text-secondary/30;
  }
}

@layer utilities {
  .container {
    @apply max-w-[81.5rem] mx-auto px-3;
  }

  .swiper-wrapper {
    @apply items-center;
  }

  .marquee-animation {
    animation: marquee 5s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .tabBtn.active{
    @apply border-b-2 border-primary;
  }
}

@layer components {
  .btn {
    @apply px-8 py-4 rounded inline-flex items-center gap-2 transition-all duration-300 ease-in;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-secondary;
  }

  .btn-white {
    @apply bg-white text-secondary hover:bg-primary;
  }
}
